#Constante
SIZE 2
MIN_DELAY 20
MAX_DELAY 150

#Nombre de simulations consecutives
simulation.experiments 1

#date de fin de la simulation
simulation.endtime 100000

#taille du reseau
network.size SIZE



# ::::: LAYERS :::::

#definition de la couche transport
protocol.transport dht.Transport

#latence minimale
protocol.transport.mindelay MIN_DELAY

#latence maximale
protocol.transport.maxdelay MAX_DELAY

#definition de la couche applicative
protocol.applicative dht.Node

#liaison entre la couche applicative et la couche transport
protocol.applicative.transport transport

#pour que la couche applicative connaisse son pid
protocol.applicative.myself applicative

# ::::: INITIALIZER :::::

#declaration d'un module d'initialisation
init.initializer dht.Initializer

#pour que le module connaisse le pid de la couche applicative
init.initializer.transport applicative

# ::::: CONTROLLER :::::

#pour controller les événements
control.node dht.Controller

#pour que l'événement précédent soit bien finit avant le suivant.
control.node.step SIZE * MAX_DELAY * 1.2

